Flask==3.0.3
python-dotenv==1.0.0
bcrypt==4.3.0
Flask-WTF==1.2.2
psycopg2-binary==2.9.10
WTForms==3.2.1
PyPDF2==3.0.1
python-docx==1.1.2
pandas==2.2.3
google-generativeai==0.5.0
gunicorn==23.0.0
requests==2.32.5
bcrypt
Flask
Flask-WTF
google-generativeai
gunicorn
pandas
psycopg2-binary
PyPDF2
python-docx
python-dotenv
requests
WTForms
Flask-Babel
bcrypt==4.3.0
Flask==3.0.3
Flask-Babel
Flask-WTF==1.2.2
google-generativeai==0.5.0
gunicorn==23.0.0
pandas==2.2.3
psycopg2-binary==2.9.10
PyPDF2==3.0.1
python-docx==1.1.2
python-dotenv==1.0.0
requests==2.32.5
WTForms==3.2.1